.layout-content {
  padding: 0;
}

.search-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.board-table th, .board-table td {
  border-bottom: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination .active {
  background: #009688;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;   /* 세로 가운데 정렬 */
  gap: 12px;             /* 요소 사이 간격 */
  padding: 10px 20px;    /* search-box 안쪽 여백 */
  margin: 0 auto 20px auto;   /* 좌우 자동 여백으로 가운데 정렬 */
  width: 70vw;                  /* 전체의 70%만 차지 */
  max-width: 1200vw;            /* 필요시 최대값 지정 */
  background-color: #f5f5f5;
  border-radius: 8px;
}

.search-box select,
.search-box input {
  padding: 8px 12px;      /* 입력창과 select 안쪽 여백 */
  font-size: 14px;
}

.search-box input {
  flex: 1;               /* input이 남은 공간 채움 */
  text-align: center;    /* placeholder 가운데 정렬 */
}

.search-box button {
  padding: 8px 16px;
  cursor: pointer;
}

.notice-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
